.section-portfolio {
    padding-bottom: 60px;
    padding-top: 60px;

    @media screen and(min-width:1200px) {

     padding-bottom:$commonpadding ;
    padding-top:$commonpadding;

        
    }
}
.filter-button{
    display: block;
    margin-right:auto ;


.filter {
    display: flex;
    flex-wrap: wrap;
    gap: 8px ;
    margin-bottom: 50px;
    transition: $transition-color;
    

   
    @media screen and(min-width:768px){
         flex-wrap: nowrap;
        justify-content:center ;
       
    }





    &__item .button:hover,
    &__item .button:focus {

        color:$colortitleprimary ;
        background-color: $coloraccent;
        box-shadow: 0px 4px 4px 0px $colorshadow;
    }
    
&__item + &__item {
    margin-left: 0;


}

}



}

.project {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 30px;

    
 @media screen and(min-width:768px) {
        
    flex-direction: row;
    flex-wrap:  wrap;
    align-items: center;
    justify-content: flex-start;
   
              
    }
    
    &__item{

    display: flex;
   
    @media screen and(min-width:768px) {

         flex-basis: calc((100% - 30px) / 2);
        justify-content: flex-start;
    }


    @media screen and(min-width:1200px) {

        flex-basis: calc((100% - 60px) / 3);
   }

   
    }

&__facility.link {

    display: block;
   

    transition: $transition-boxshadow;

    @media screen and(min-width:768px){
       display: flex;
       flex-direction: column;
       height:100% ;
       
    }
}



&__facility:hover {
    box-shadow: 0px 4px 4px 0px $colorshadow;

}

&__facility:hover &__overtext {

    transform: translateY(0);
}

 &__overlay {
    position: relative;
    overflow: hidden;
 }

 &__overtext {
     position: absolute;
     top: 0;
     height: 100%;
     padding: 63px 24px;
     vertical-align: top;
     display: flex;
     color: $colortitleprimary ;
     background-color: $coloraccent;
    @include font (null, 18px, 1.55, 0.03em);


    transform: translateY(100%);
   transition: $transition-transform ;
 }




 

 &__card {
    display: block;
    padding: 20px 24px;
     border: 1px solid;
     border-color: $colorcardborder;
     border-top: none;
     border-radius: 4px;


     @media screen and(min-width:768px){
      display: flex;
      flex-direction: column;
    flex-grow:1 ;
     }


 }

&__title {
    display:inline-block;
    color: $colortitle ;
    margin-bottom: 4px;
    text-decoration: none;
    @include font (700, 18px, 2, 0.06em);
     




}


 &__text {
    color: $colortext;
     text-decoration: none;
    @include font ( null, 16px, 1.88, 0.03em);
    
    
 }

}

