$colortext: #757575;
$colortitle: #212121;
$colortitleprimary: #FFFFFF;
$colortitlesecondary: #000000;
$coloraccent: #2196F3;
$coloraccentsecondary:#188CE8;
$colorbg: #F5F4FA;
$colorbgprimary: #F5F5F5;
$colorbgsecondary: #2F303A;
$colorshadow:  rgba(0, 0, 0, 0.25);
$coloriconfill: #AFB1B8;
$colorcardborder: #EEEEEE;
$colorheaderborder: #ECECEC;
$colorinputborder: rgba(33, 33, 33, 0.2);
$colortextarea: rgba(117, 117, 117, 0.5);
$colormodalbnt: rgba(0, 0, 0, 0.1);
$colorbackdrop: rgba(0, 0, 0, 0.2);
$colormodal-shadow: rgba(0, 0, 0, 0.14);
$colormodal-boxshodow: rgba(0, 0, 0, 0.12);
$colorbgimage: rgba(47, 48, 58, 0.4);
$colorbg-link: rgba(255, 255, 255, 0.1);
$colorftborder: rgba(255, 255, 255, 0.3);
$colorft: rgba(255, 255, 255, 0.6);
$colorshadowbt: rgba(0, 0, 0, 0.15);
$colorbusiness: rgba(47, 48, 58, 0.8);
$commonpadding: 94px;
$transition-boxshadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-bg: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-fill: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-transform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-border: border-color  250ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-opacity: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);








